<p id="notice"><%= notice %></p>

<div class="index-container">
  <div class="grid_1">
    <%= link_to article_path(@top_article.id) do %>
      <%= image_tag @top_article.image.downcase, class:'cover-img' %>

      <div class="trend">
        <span>Most Voted</span>
      </div>
      <div class="top-cont">
        <h3 class="index-title">
          <%= @top_article.title %>
        </h3>
      </div>
    <% end %>
  </div>
</div>


<div class="cards-holder">
  <% @home_articles.each do |c| %>
  <%= link_to category_path(c.id) do %>
    <% unless c.articles.last.nil? %>
      <div class="grid_2">
        <%= image_tag c.articles.last.image %>
          <h3 class="index-title sec-cont">
            <%= c.name %>
          </h3>
      </div>
    <% end %>
    <% end %>
  <% end %>
</div>
