<p id="notice"><%= notice %></p>

<div class="grid-cont">
  <div class="grid-ele grid_1">
    <%= link_to article_path(@top_article.id) do %>
      <%= image_tag @top_article.image.downcase, class:'cover-img full' %>
          <div class="top-cont">
            <h3 class="index-title">
              <%= @top_article.title %>
            </h3>
          </div>
    <% end %>
  </div>
  <div class="grid-ele grid_2">
    
  </div>
  <div class="grid-ele grid_3">
    
  </div>
  <div class="grid-ele grid_4">
    
  </div>
  <div class="grid-ele grid_5">
    
  </div>
  <div class="grid-ele grid_6">
    
  </div>
</div>

<ul>
  <% @articles.each do | article | %>
  <li>
    <span><%= link_to(article.title, article_path(article.id)) %></span><br>
    <span><%= article.text %></span><br>
    <span><%= article.author.name %></span><br>
    <span><%= article.category.name %></span><br>
    <span><%= article.image %></span><br>
  </li>
  <% end %>
</ul>