<p id="notice"><%= notice %></p>

<h1 class="title">
  <strong>Title:</strong>
  <%= @article.title %>
</h1>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>

<% if current_user == @article.author %>
  <%= link_to 'Edit', edit_article_path(@article) %>
<% end %>
<%= vote_btn(@article) %>
<%= link_to 'Back', articles_path %>
