<p id="notice"><%= notice %></p>

<h1 class="title">
  <strong>Name:</strong>
  <%= @user.name %>
</h1>

<% if @articles %>
  <h3>Recent articles:</h3>
  <ul>
    <% @articles.each do |article| %>
      <li>
      <%= article.title %><br>
      <%= article.text %><br>
      <%= article.category.name %><br>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'New Article', new_article_path, class: 'btn-1' %>