<div class="cat-show-grid">
  <div class="grid-row-1">
    <% @last_two.reverse.each do |article| %>
      <div class="cat-art-info">
        <span class="cat-art-category"><%= article.category.name %></span>
        <span class="cat-art-title"><%= article.title.truncate(90) %></span>
        <span class="cat-art-text"><%= article.text.truncate(90) %></span>
        <div class="user-show-btn">
          <%= link_to 'Watch all the article', article_path(article.id), class: 'btn-3' %>
        </div>
      </div>
      <div class="cat-art-img">
        <%= image_tag article.image %>
      </div>
    <% end %>
  </div>
  <div class="grid-row-2">
    <% @first_two.reverse.each do |article| %>
      <div class="cat-art-img">
        <%= image_tag article.image %>
      </div>
      <div class="cat-art-info">
        <span class="cat-art-category"><%= article.category.name %></span>
        <span class="cat-art-title"><%= article.title.truncate(90) %></span>
        <span class="cat-art-text"><%= article.text.truncate(90) %></span>
        <div class="user-show-btn">
          <%= link_to 'Watch all the article', article_path(article.id), class: 'btn-3' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
