<!DOCTYPE html>
<html>
  <head>
    <title>Lifestyle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav>
      <%= link_to articles_path do %>
        <%= image_tag "logo.png", class: "logo" %>
      <% end %>
      <div class="nav-li">
        <%= link_to "Categories", categories_path %>
      </div>
      <% if logged_in? %>
      <div class="nav-li">
        <%= link_to "Create Article", new_article_path %>
      </div>
      <div class="nav-ul">
        <div class="nav-li">
          <%= link_to(current_user.name, user_path(current_user.id)) %>
        </div>
        <div class="nav-li">
          <%= link_to "Sign Out", session_path(current_user.id), method: :delete %> 
        </div>
      </div>
      <% else %>
      <div class="nav-ul">
        <div class="nav-li">
          <%= link_to "Log In", new_session_path %>
        </div>
        <div class="nav-li">
          <%= link_to "Sign In", new_user_path %>
        </div>
      </div>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
